<div class="viewHeight">
  <!--The content below is only a placeholder and can be replaced.-->
  <section class="module-container--medium">
    <div class="module-container__content">
      <div class="module-container__content-inner">
        <div class="divider divider--heading gap-top-small pad-bottom-small">
          <div class="divider__inner">
            <div class="divider__decoration" aria-hidden="true">............................................................................................................................................................................................................................................................................</div>
            <h2 class="divider__heading">
              <span class="divider__heading-inner tnt tnt-heading">number only directive</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-color-white pad-bottom-small">
    <section class="module-container module-container--medium">
      <div class="module-container__content">
        <div class="module-container__content-inner">

          <div class="input-container">
            <div class="input js-input input--one-half input--static-label">
              <div class="input__inner">
                <label class="input__label">
                  <div class="input__label-content js-input-label-content">number only</div>
                </label>
                <input class="input__field js-input-field" numberOnly>
              </div>
            </div>

            <div class="input js-input input--one-half input--static-label">
              <div class="input__inner">
                <label class="input__label">
                  <div class="input__label-content js-input-label-content">all character</div>
                </label>
                <input class="input__field js-input-field">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>